body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f0f0f0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #4CAF50 3px solid;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
.main-content {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
.sidebar {
    float: right;
    width: 30%;
    padding: 0 30px;
    box-sizing: border-box;
}
.article {
    background: #333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.article h2 {
    margin-top: 0;
}
.article-meta {
    font-size: 0.9em;
    margin-bottom: 10px;
}
.meta-box {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 5px;
}
.author { background-color: #4CAF50; }
.date { background-color: #2196F3; }
.tag-1 { background-color: #f44336; }
.tag-2 { background-color: #ff9800; }
.tag-3 { background-color: #f436eb; }
.tag-4 { background-color: #00ffd5; }
.tag-5 { background-color: #2196F3;; }
.tag-6 { background-color: #4CAF50; }
.tag-7 { background-color: #f44336; }
.tag-8 { background-color: #ff9800; }
.tag-9 { background-color: #f436eb; }
.tag-10 { background-color: #00ffd5; }
.bio, .all-tags {
    background: #333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.tag {
    display: inline-block;
    background: #4CAF50;
    color: #ffffff;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
