<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{article.title}</title>
    <link rel="stylesheet" href="{css_rel_path}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>1ou2</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="../../../../index.html">Accueil</a></li>
                    <li><a href="../../../../livres.html">Livres</a></li>
                    <li><a href="https://livresavif.com">Podcast livres à vif</a></li>
                    <li><a href="../../../../contact.html">Contact</a></li>
                </ul>
            </nav>
            <button id="theme-toggle" class="theme-toggle">☀️</button>
        </div>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="main-content">
                <div class="article">
                    <h1>{article.title}</h1>
                    <div class="article-meta">
                        Posté par <span class="meta-box author">Gabriel</span> le <span class="meta-box date">{article.date}</span> sous {article.html_tags} 
                    </div>
                {article.html}
                </div>
            </div>
            <div class="sidebar">
                <div class="all-tags">
                    <h3>Tags</h3>
                    {html_top_tags}
                </div>
            </div>
            <div class="navigation">
                <a href="{article.prev_path}" class="prev">Previous Page</a>
                <a href="{article.next_path}" class="next">Next Page</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2025 Gabriel Pastor. All rights reserved.</p>
        </div>
    </footer>
    <script src="../../../../assets/theme-toggle.js"></script>
</body>
</html>