<!DOCTYPE html>
<html lang="{article.language}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{article.title}</title>
    <link rel="stylesheet" href="{css_rel_path}">
    {hreflang_links}
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>1ou2</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="../../../../../">Home</a></li>
                    <li><a href="../../../../../books.html">Books</a></li>
                    <li><a href="https://livresavif.com">Podcast livres à vif</a></li>
                    <li><a href="../../../../../en-contact.html">Contact</a></li>
                </ul>
            </nav>
            <div class="language-selector">
                {language_selector}
            </div>
            <button id="theme-toggle" class="theme-toggle">☀️</button>
        </div>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="main-content">
                <div class="article">
                    <h1>{article.title}</h1>
                    <div class="article-meta">
                        Posted by <span class="meta-box author">Gabriel</span> on <span class="meta-box date">{article.date}</span> under {article.html_tags} 
                    </div>
                {article.html}
                </div>
            </div>
            <div class="sidebar">
                <div class="all-tags">
                    <h3>Top tags</h3>
                    {html_top_tags}
                </div>
            </div>
            <div class="navigation">
                <a href="{article.prev_path}" class="prev">Previous Page</a>
                <a href="{article.next_path}" class="next">Next Page</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2025 Gabriel Pastor. All rights reserved.</p>
        </div>
    </footer>
    <script src="../../../../../assets/theme-toggle.js"></script>
</body>
</html>