<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{page_title}</title>
    <link rel="stylesheet" href="{css_path}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>1ou2</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="../">Accueil</a></li>
                    <li><a href="../books.html">Livres</a></li>
                    <li><a href="https://livresavif.com">Podcast livres à vif</a></li>
                    <li><a href="../en-contact.html">Contact</a></li>
                </ul>
            </nav>
            <div class="language-selector">
                {language_selector}
            </div>
            <button id="theme-toggle" class="theme-toggle">☀️</button>
        </div>
    </header>
        
        <div class="container">
            <div class="content-wrapper">
                <div class="main-content">
                    {html_articles}
                </div>
                <div class="sidebar">
                                
                    <div class="bio">
                        <h3>Welcome!</h3>
                        <p>I love tech, AI, photo and the game of GO. You will find articles on these topics.</p>
                    </div>
           
                    <div class="all-tags">
                        <h3>Tags</h3>
                        {html_top_tags}
                    </div>
                </div>
            </div>
            <div class="navigation">
                <a href="{link_prev}" class="prev">Previous Page</a>
                <a href="{link_next}" class="next">Next Page</a>
            </div>
        </div>

        <footer>
            <div class="container">
                <p>&copy; 2025 Gabriel Pastor. All rights reserved.</p>
            </div>
        </footer>
        <script src="../assets/theme-toggle.js"></script>
    </body>
    </html>